@import ../../styles/Variables.sass
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

.sfMain
    width: 700px
    height: 235px
    background: url(../../assets/time-submit-board.png)
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    padding-top: 130px

.sfFormContainer
    margin: 0 auto
    padding: 20px
    
.sfText
    width: 100%
    text-align: center
    color: red
    color: white
    font: bold 20px $poppins, Serif
    text-shadow: -2px 2px 0 #0a0e27