@import ../../styles/Variables.sass
    
.menuMain
  background: url('../../assets/sign1.png')
  background-position: center bottom
  background-repeat: no-repeat
  background-size: contain
  bottom: 0
  height: 300px
  margin-right: 20px
  position: absolute
  right: 20px
  width: 200px

.menuSign1
  cursor: pointer
  height: auto
  margin-right: -18px
  width: 100%

.menuSign2
  cursor: pointer
  height: auto
  margin-right: 14px
  margin-top: 10px
  width: 90%

.menuSign3
  cursor: pointer
  height: auto
  margin-top: 5px
  margin-right: 12px
  width: 90%