@import ../../styles/Variables.sass

.tdBird
  width: 70px
  height: 70px
  position: absolute 
  top: 120px
  right: 4px
  background: url('../../assets/bird.png')
  background-size: contain
  background-position: center
  background-repeat: no-repeat

.tdBirdThought
  width: 220px
  height: 140px
  position: absolute 
  top: 0
  right: 60px
  background: url('../../assets/thought.png')
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  display: flex
  justify-content: center
  align-items: center 
  text-align: center 
  font-size: 30px
  font-weight: $veryHeavy
  padding-right: 40px

.tdBirdThought span 
  font-size: 20px
  font-weight: $heavy
  margin-top: 8px
  margin-left: 2px
    
.tdMain
  position: absolute
  top: 0
  right: 0