@import ../../styles/Variables.sass
    
.cellMain
    align-items: center
    cursor: pointer
    display: flex
    font-weight: $heavy
    height: 25px
    justify-content: center
    text-align: center
    width: 25px

    &.cellClicked
        background-color: $white

    &.cellFlagged
        background-color: $lightYellow
        background-image: url(../../assets/red-flag.svg)
        background-position: top
        background-repeat: no-repeat
        background-size: contain 


    &.cellMine
        background: red
        background-image: url(../../assets/mine.svg)

.cellEven
    background: $lightTan

.cellOdd
    background: $tan

.cellRevealed
    background-color: $white
    background-image: url(../../assets/dollar.svg) 
    background-position: top
    background-repeat: no-repeat
    background-size: contain
    box-shadow: inset 0 0 2px $lightGray

