@import ../../styles/Variables.sass

.lbMain
    width: 115.2vh
    height: 90vh
    background-color: $pyramidBackground
    border: 4px solid $black
    border-radius: 12px
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12)

.lbPyramid
    width: 100%
    height: 100%
    background: url(../../assets/pyramid.png)
    background-size: contain 
    background-position: center top 
    background-repeat: no-repeat
    padding-top: 14.4vh

.lbPyramidRow
    width: 100%
    display: flex
    justify-content: center

.lbWinner
    width: 18vh
    height: 12.7vh
    border-top: 0.9vh solid $pyramidMaroon 
    border-left: 0.9vh solid $pyramidMaroon
    display: flex
    justify-content: center
    align-items: center
    color: $black
    padding: 5px
    position: relative

    &:last-child
        border-right: 0.9vh solid $pyramidMaroon

.lbWinner div h2, .lbWinner div p 
    margin: 0

.lbWinnerRank
    position: absolute
    top: 0
    left: 0 
    margin: 2px 0 0 3px 
    background: url(../../assets/star.svg)
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    color: $black
    text-align: center 
    display: flex
    justify-content: center
    align-items: center
    width: 25px
    height: 25px
    font-size: 11px
    font-weight: 700
    padding-top: 2px



    


