@import ../../styles/Variables.sass
    
.boardMain
    align-items: center
    background: url('../../assets/wooden-board.png')
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    display: flex
    height: 500px
    justify-content: center
    margin-top: 50px
    padding: 30px
    position: relative
    width: 800px
    z-index: 1