@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

// window constraints
$viewWidth: 375px

// colors
$background: #dde0ec
$blue: #0958e8
$borderGray: #ededed
$darkBlue: #004ad4
$coolWhite: #f7f7ff
$lightBlue: #e3edff
$lightGray: #b8c0d1
$mediumGray: #9fa6b5
$navyBlue: #13284e
$red: #fc033d
$white: #ffffff

// fonts
$poppins: 'Poppins', sans-serif

// font colors
$fontBlue: #304264

// font weights
$light: 300
$medium: 400
$heavy: 600
