@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

// window constraints
$viewWidth: 375px

// colors
$lightTan: #f0d2aa
$tan: #d9be9a
$white: #ffffff
$offWhite: #fff9f2
$lightGray: #cccccc
$lightYellow: #ffe8a8

// fonts
$poppins: 'Poppins', sans-serif

// font colors
$fontBlue: #304264
$black: #2b2b2b

// font weights
$light: 300
$medium: 400
$heavy: 600
$veryHeavy: 700

// pyramid of greatness
$pyramidMaroon: #74272f
$pyramidGreen: #8aac76
$pyramidBlue: #acd1d6
$pyramidOrange: #f7dab2
$pyramidYellow: #fbf4a7
$pyramidBrownGreen: #bea771
$pyramidRed: #dc9b7a
$pyramidBackground: #f4e6c5
$fancyLeaderboardBackground: #b7b597
