@import ../../styles/Variables.sass
    
.ccMain
  position: absolute
  top: 0
  left: 0
  margin: 20px
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  color: $white
  font-size: 30px
  font-weight: 700
  background: url('../../assets/gold-coin.svg')
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  width: 100px
  height: 100px