.closeButton
    cursor: pointer
    float: right
    height: 15px
    width: 15px
    margin-right: -15px
    margin-top: -15px

.content
    color: grey
    position: relative
    z-index: 3

.hide
    display: none

.modal
    background-color: rgba(0, 0, 0, 0.5)
    height: 100vh
    left: 0
    position: fixed
    top: 0
    width: 100%
    z-index: 5
    overflow: auto

.title
    font-weight: bold

.window
    box-sizing: border-box

.windowContainer
    display: flex
    align-items: center
    justify-content: center
    min-height: 100%
