@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Montserrat:wght@800&display=swap');
@import ../../styles/Variables.sass

.vmButtonContainer
    align-items: center
    display: flex
    width: 100%

    &.left
        justify-content: flex-start

    &.right
        justify-content: flex-end

.wmDanceGif
    background: url('../../assets/dance.gif')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    border-radius: 25vh
    height: 48.5vh
    width: 48.5vh

.wmFormContainer
    background: url(../../assets/sign-two.png)
    background-position: top
    background-repeat: no-repeat
    background-size: cover
    bottom: 0
    height: 170px
    position: absolute
    width: 330px

.wmMain
    align-items: center
    background: url('../../assets/stardust.png')
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    display: flex
    height: 100vh
    justify-content: center
    position: relative
    width: 100vw

.wmRestart, .wmScore
    cursor: pointer
    height: 50px
    margin-top: 18px
    width: 200px

.wmScore
    margin-left: 120px

.wmWinner
    position: absolute
    top: 100px
    width: 30vw


    


