@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Montserrat:wght@800&display=swap');
@import ../../styles/Variables.sass

.vmButtonContainer
    width: 100%
    display: flex
    align-items: center

    &.left
        justify-content: flex-start

    &.right
        justify-content: flex-end

.wmDanceGif
    width: 48.5vh
    height: 48.5vh
    border-radius: 25vh
    background: url('../../assets/dance.gif')
    background-size: cover
    background-position: center
    background-repeat: no-repeat

.wmMain
    width: 100vw
    height: 100vh
    background: url('../../assets/stardust.png')
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    display: flex
    justify-content: center
    align-items: center
    position: relative

.wmRestart, .wmScore
    width: 200px
    height: 50px
    cursor: pointer
    margin-top: 18px

.wmScore
    margin-left: 120px

.wmTitle
    text-align: center
    color: red
    position: absolute
    top: 0
    color: #02bfa0
    font: bold 56px Montserrat, Serif
    text-shadow: -2px 2px 0 #9c0a00, -5px 4px 0 #0a0e27

.wmFormContainer
    position: absolute
    bottom: 0
    width: 330px
    height: 170px
    background: url(../../assets/sign-two.png)
    background-position: top
    background-size: cover
    background-repeat: no-repeat

.wmWinner
    width: 30vw
    position: absolute
    top: 100px


    


