@import ./styles/Variables.sass

*
    box-sizing: border-box
  
.App
  width: 100vw
  height: 100vh
  text-align: center
  background: url(./assets/forrest.png)
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  display: flex
  justify-content: center